---
swagger: "2.0"
info:
  description: API for laravel Crud
  version: 1.0.0
  title: Brisef Backend
  contact:
    email: aldo1400@gmail.com.pe
host: virtserver.swaggerhub.com
# basePath: /aldo1400/goplay/1.0.0

tags:
- name: users
  description: User module
- name: type-users
  description: Everything about type of users
- name: cargos
  description: Everything about cargos
- name: colaboradores
  description: Everything about colaboradores
- name: departamentos
  description: Everything about departamentos
  
schemes:
- https
paths:
  
  # ---------------------
  #   Cargos
  # ---------------------
  "/cargos":
    get:
      tags:
      - cargos
      summary: Obtener todos los cargos
      consumes:
      - application/json
      produces:
      - application/json
      responses:
        200:
          description: Retrieved data succesfully
          schema:
            type: array
            items:
              $ref: '#/definitions/CargoResource'
        401:
          description: unauthenticated  
    
    post:
      tags:
      - cargos
      summary: Añadir un cargo
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/CargoCreateRequest'
      responses:
        201:
          description: Data was inserted succesfully
        400:
          description: Invalid input, object invalid
        401:
          description: Unauthenticated
        403:
          description: Forbidden access
    
  "/cargos/{id}":
    get:
      tags:
      - cargos
      summary: Obtener un cargo
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        required: true
        type: integer
      responses:
        200:
          description: Data retrieved successfully
          schema:
            $ref: '#/definitions/CargoResource'
        404:
          description: Method or resource not found
        401:
          description: Unauthenticated
    
    patch:
      tags:
      - cargos
      summary: Editar nombre de un cargo
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        required: true
        type: integer
        description: Cargo ID
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DepartamentoUpdateRequest'
      responses:
        200:
          description: Data modified succesfully
        401:
          description: Unauthenticated
        403:
          description: Forbidden Access  
    
    delete:
      tags:
      - cargos
      summary: Eliminar cargo
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        required: true
        type: integer
      responses:
        200:
          description: Cargo deleted 
        404:
          description: Route not found
        409:
          description: Departure has children      
  
  # ---------------------
  #   Colaboradores
  # ---------------------
  "/colaboradores":
    get:
      tags:
      - colaboradores
      summary: Obtener todos los colaboradores
      consumes:
      - application/json
      produces:
      - application/json
      responses:
        200:
          description: Retrieved data succesfully
          schema:
            type: array
            items:
              $ref: '#/definitions/ColaboradorResource'
        401:
          description: unauthenticated  
    
    post:
      tags:
      - colaboradores
      summary: Añadir un colaborador
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/ColaboradorCreateRequest'
      responses:
        201:
          description: Data was inserted succesfully
        400:
          description: Invalid input, object invalid
        401:
          description: Unauthenticated
        403:
          description: Forbidden access
          
  # ---------------------
  #   Departamentos
  # ---------------------
  "/departamentos":
    get:
      tags:
      - departamentos
      summary: Obtener todos los departamentos
      consumes:
      - application/json
      produces:
      - application/json
      responses:
        200:
          description: Retrieved data succesfully
          schema:
            type: array
            items:
              $ref: '#/definitions/DepartamentoResource'
        401:
          description: unauthenticated  
    
    post:
      tags:
      - departamentos
      summary: Añadir un departamento
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/DepartamentoCreateRequest'
      responses:
        201:
          description: Data was inserted succesfully
        400:
          description: Invalid input, object invalid
        401:
          description: Unauthenticated
        403:
          description: Forbidden access
  
  "/departamentos/{id}":
    get:
      tags:
      - departamentos
      summary: Obtener un departamento
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        required: true
        type: integer
      responses:
        200:
          description: Data retrieved successfully
          schema:
            $ref: '#/definitions/DepartamentoResource'
        404:
          description: Method or resource not found
        401:
          description: Unauthenticated
    
    patch:
      tags:
      - departamentos
      summary: Editar nombre de un departamento
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        required: true
        type: integer
        description: Departamento ID
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DepartamentoUpdateRequest'
      responses:
        200:
          description: Data modified succesfully
        401:
          description: Unauthenticated
        403:
          description: Forbidden Access   
    
    delete:
      tags:
      - departamentos
      summary: Eliminar departamento
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        required: true
        type: integer
      responses:
        200:
          description: Departure deleted 
        404:
          description: Route not found
        409:
          description: Departure has children
          
  # ---------------------
  #   Users
  # ---------------------
  
  "/logout":
    post:
      tags:
      - login
      summary: Close user session
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: Cierre de sesión satisfactorio
        400:
          description: bad input parameter
        401:
          description: No autorizado
          
  "/login":
    post:
      tags:
      - users
      summary: User authentication
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/LoginRequest'
      responses:
        200:
          description: Loged succesfully
          schema:
            type: object
            properties:
              token:
                type: string
                example: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ...PgNg
              token_type:
                type: string
                example: bearer
                default: bearer
              expires_in:
                type: string
                example: "86400"
                default: "86400"
        401:
          description: unauthenticated
      
      
  "/user":
    get:
      tags:
      - users
      summary: Get data of current user logged
      consumes:
      - application/json
      produces:
      - application/json
      responses:
        200:
          description: Retrieved data succesfully
          schema:
            $ref: '#/definitions/UserResource'
        401:
          description: unauthenticated


  "/users":
    get:
      tags:
      - users
      summary: Get all users
      consumes:
      - application/json
      produces:
      - application/json
      responses:
        200:
          description: Retrieved data succesfully
          schema:
            type: array
            items:
              $ref: '#/definitions/UserResource'
        401:
          description: unauthenticated

    post:
      tags:
      - users
      summary: Add a user
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/UserCreateRequest'
      responses:
        201:
          description: Data was inserted succesfully
        400:
          description: Invalid input, object invalid
        401:
          description: Unauthenticated
        403:
          description: Forbidden access
    
    delete:
      tags:
      - users
      summary: Delete multiples users
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: body
        schema:
          type: array
          items:
            type: integer
      responses:
        200:
          description: Users deleted 
        404:
          description: Route not found
        
  "/users/{id}":
    get:
      tags:
      - users
      summary: Get a user
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        required: true
        type: integer
      responses:
        200:
          description: Data retrieved successfully
          schema:
            $ref: '#/definitions/UserResource'
        404:
          description: Method or resource not found
        401:
          description: Unauthenticated
    put:
      tags:
      - users
      summary: Edit information of a user
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        required: true
        type: integer
        description: User ID
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/UserUpdateRequest'
      responses:
        200:
          description: Data modified succesfully
        401:
          description: Unauthenticated
        403:
          description: Forbidden Access      
  
  # ---------------------
  #   Type Users
  # ---------------------
  "/type-users":
    get:
      tags:
      - type-users
      summary: Get all type of users
      consumes:
      - application/json
      produces:
      - application/json
      responses:
        200:
          description: Retrieved data succesfully
          schema:
            type: array
            items:
              $ref: '#/definitions/TypeUserResource'
        401:
          description: unauthenticated       
         
definitions:
  
  
  CargoResource:
    type: object
    properties:
      id:
        type: integer
      nivel_jerarquico:
        type: string
        enum: [
          'Estratégico Táctico',
          'Operativo Supervisión',
          'Táctico Operativo',
          'Táctico',
          'Ejecución'
          ]
      nombre:
        type: string
      supervisor_id:
        type: integer
  
  CargoCreateRequest:
    type: object
    properties:
      nivel_jerarquico:
        type: string
        enum: [
          'Estratégico Táctico',
          'Operativo Supervisión',
          'Táctico Operativo',
          'Táctico',
          'Ejecución'
          ]
      nombre:
        type: string
      supervisor_id:
        type: integer
  
  CargoUpdateRequest:
    type: object
    properties:
      nombre:
        type: string
  
  ColaboradorCreateRequest:
    type: object
    properties:
      rut:
        type: string
      usuario:
        type: string
      password:
        type: string
      nombres:
        type: string
      apellidos:
        type: string
      sexo:
        type: string
      nacionalidad:
        type: string
      estado_civil:
        type: string
        enum: [
          'Casado (a)',
          'Soltero (a)',
          'Divorciado (a)',
          'Unión Civil',
        ]
      fecha_nacimiento:
        type: string
        format: date
      edad:
        type: integer
      email:
        type: string
        format: email
      nivel_educacion:
        type: string
      domicilio:
        type: string
      licencia_b:
        type: string
        enum: [
          'SI', 
          'NO',
          'N/A'
          ]
      vencimiento_licencia_b:
        type: string
        format: date
      licencia_d:
        type: string
        enum: [
          'SI', 
          'NO',
          'N/A'
          ]
      vencimiento_licencia_d:
        type: string
        format: date
      carnet_portuario:
        type: string
        enum: [
          'SI', 
          'NO',
          'N/A'
          ]
      vencimiento_carnet_portuario:
        type: string
        format: date
      talla_calzado:
        type: string
      talla_chaleco:
        type: string
      talla_polera:
        type: string
      talla_pantalon:
        type: string
      fecha_ingreso:
        type: string
        format: date
      telefono:
        type: string
      celular:
        type: string
      anexo:
        type: string
      contacto_emergencia_nombre:
        type: string
      contacto_emergencia_telefono:
        type: string
      estado:
        type: string
      fecha_inactividad:
        type: string
        format: date
      departamento_id:
        type: integer
  
  ColaboradorResource:
    type: object
    properties:
      id:
        type: integer
      rut:
        type: string
      usuario:
        type: string
      nombres:
        type: string
      apellidos:
        type: string
      sexo:
        type: string
      nacionalidad:
        type: string
      estado_civil:
        type: string
        enum: [
          'Casado (a)',
          'Soltero (a)',
          'Divorciado (a)',
          'Unión Civil',
        ]
      fecha_nacimiento:
        type: string
        format: date
      edad:
        type: integer
      email:
        type: string
        format: email
      nivel_educacion:
        type: string
      domicilio:
        type: string
      licencia_b:
        type: string
        enum: [
          'SI', 
          'NO',
          'N/A'
          ]
      vencimiento_licencia_b:
        type: string
        format: date
      licencia_d:
        type: string
        enum: [
          'SI', 
          'NO',
          'N/A'
          ]
      vencimiento_licencia_d:
        type: string
        format: date
      carnet_portuario:
        type: string
        enum: [
          'SI', 
          'NO',
          'N/A'
          ]
      vencimiento_carnet_portuario:
        type: string
        format: date
      talla_calzado:
        type: string
      talla_chaleco:
        type: string
      talla_polera:
        type: string
      talla_pantalon:
        type: string
      fecha_ingreso:
        type: string
        format: date
      telefono:
        type: string
      celular:
        type: string
      anexo:
        type: string
      contacto_emergencia_nombre:
        type: string
      contacto_emergencia_telefono:
        type: string
      estado:
        type: string
      fecha_inactividad:
        type: string
        format: date
      gerencia_id:
        $ref: "#/definitions/DepartamentoResource" 
      subgerencia_id:
        $ref: "#/definitions/DepartamentoResource" 
      area_id:
        $ref: "#/definitions/DepartamentoResource" 
      subarea_id:
        $ref: "#/definitions/DepartamentoResource" 
    
  DepartamentoCreateRequest:
    type: object
    properties:
      tipo:
        type: string
        enum: [
          'Gerencia General',
          'Gerencia',
          'Subgerencia',
          'Área',
          'Subarea'
          ]
      nombre:
        type: string
      padre_id:
        type: integer
  
  DepartamentoUpdateRequest:
    type: object
    properties:
      nombre:
        type: string
  
  DepartamentoResource:
    type: object
    properties:
      tipo:
        type: string
        enum: [
          'Gerencia General',
          'Gerencia',
          'Subgerencia',
          'Área',
          'Subarea'
          ]
      nombre:
        type: string
      padre_id:
        type: integer
    
  LoginRequest:
    type: object
    properties:
      username:
        type: string
        format: email
      password:
        type: string
        
  EmailRequest:
    type: object
    properties:
      email:
        type: string
        format: email
  
  PasswordResetRequest:
    type: object
    properties:
      email:
        type: string
        format: email
      password:
        type: string
      password_confirmation:
        type: string
      token: 
        type: string
  
  UserResource:
    type: object
    properties:
      id:
        type: number
      email:
        type: string
        format: email
      name:
        type: string
      typeUser:
        $ref: "#/definitions/TypeUserResource"        
  
  TypeUserResource:
    type: object
    properties:
      id:
        type: number
      name:
        type: string
      code:
        type: string
  
  UserCreateRequest:
    type: object
    properties:
      email:
        type: string
        format: email
      password:
        type: string
      name:
        type: string
      type_user_id:
        type: integer
        
  UserUpdateRequest:
    type: object
    properties:
      email:
        type: string
        format: email
      name:
        type: string
      type_user_id:
        type: integer
      
# Added by API Auto Mocking Plugin
# basePath: /aldo1400/goplay/1.0.0
# Added by API Auto Mocking Plugin
# basePath: /inventory5/Project/1.0.0
# Added by API Auto Mocking Plugin
basePath: /inventory5/botica/1.0.0